.gradle/2.3/taskArtifacts/cache.properties.lock
.gradle/2.3/taskArtifacts/fileHashes.bin
.gradle/2.3/taskArtifacts/fileSnapshots.bin
.gradle/2.3/taskArtifacts/outputFileStates.bin
.gradle/2.3/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_3.xml
.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_3.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_6_4.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_6_4.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_6_4.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_9.xml
.idea/libraries/Gradle__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Gradle__io_dchq_DCHQ_dto_base_3_0_SNAPSHOT.xml
.idea/libraries/Gradle__io_dchq_DCHQ_dto_one_3_0_SNAPSHOT.xml
.idea/libraries/Gradle__joda_time_joda_time_2_8_2.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_13.xml
.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_13.xml
.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_13.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_13.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aop_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_16.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.nb-gradle/private/cache/DCHQ-Java-SDK-d41d8cd98f00b204e9800998ecf8427e
.nb-gradle/profiles/private/aux-config
DCHQ-Java-SDK.iml
build/classes/main/io/dchq/sdk/core/AppService.class
build/classes/main/io/dchq/sdk/core/AppServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/AppServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/AppServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/AppServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/AppServiceImpl.class
build/classes/main/io/dchq/sdk/core/BlueprintService.class
build/classes/main/io/dchq/sdk/core/BlueprintServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/BlueprintServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/BlueprintServiceImpl.class
build/classes/main/io/dchq/sdk/core/BuildService.class
build/classes/main/io/dchq/sdk/core/BuildServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/BuildServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/BuildServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/BuildServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/BuildServiceImpl$5.class
build/classes/main/io/dchq/sdk/core/BuildServiceImpl.class
build/classes/main/io/dchq/sdk/core/CloudProviderService.class
build/classes/main/io/dchq/sdk/core/CloudProviderServiceImpl.class
build/classes/main/io/dchq/sdk/core/DataCenterService.class
build/classes/main/io/dchq/sdk/core/DataCenterServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/DataCenterServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/DataCenterServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/DataCenterServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/DataCenterServiceImpl.class
build/classes/main/io/dchq/sdk/core/DockerServerService.class
build/classes/main/io/dchq/sdk/core/DockerServerServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/DockerServerServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/DockerServerServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/DockerServerServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/DockerServerServiceImpl.class
build/classes/main/io/dchq/sdk/core/GenericService.class
build/classes/main/io/dchq/sdk/core/GenericServiceImpl.class
build/classes/main/io/dchq/sdk/core/Main.class
build/classes/main/io/dchq/sdk/core/MessageService.class
build/classes/main/io/dchq/sdk/core/MessageServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/MessageServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/MessageServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/MessageServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/MessageServiceImpl.class
build/classes/main/io/dchq/sdk/core/PluginService.class
build/classes/main/io/dchq/sdk/core/PluginServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/PluginServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/PluginServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/PluginServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/PluginServiceImpl.class
build/classes/main/io/dchq/sdk/core/ProfileService.class
build/classes/main/io/dchq/sdk/core/ProfileServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/ProfileServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/ProfileServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/ProfileServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/ProfileServiceImpl.class
build/classes/main/io/dchq/sdk/core/RegistryAccountService.class
build/classes/main/io/dchq/sdk/core/RegistryAccountServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/RegistryAccountServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/RegistryAccountServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/RegistryAccountServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/RegistryAccountServiceImpl.class
build/classes/main/io/dchq/sdk/core/ServiceFactory.class
build/classes/main/io/dchq/sdk/core/SettingService.class
build/classes/main/io/dchq/sdk/core/SettingServiceImpl.class
build/classes/main/io/dchq/sdk/core/UserGroupService.class
build/classes/main/io/dchq/sdk/core/UserGroupServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/UserGroupServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/UserGroupServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/UserGroupServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/UserGroupServiceImpl.class
build/classes/main/io/dchq/sdk/core/UserService.class
build/classes/main/io/dchq/sdk/core/UserServiceImpl$1.class
build/classes/main/io/dchq/sdk/core/UserServiceImpl$2.class
build/classes/main/io/dchq/sdk/core/UserServiceImpl$3.class
build/classes/main/io/dchq/sdk/core/UserServiceImpl$4.class
build/classes/main/io/dchq/sdk/core/UserServiceImpl.class
build/classes/test/io/dchq/sdk/core/AbstractServiceTest.class
build/classes/test/io/dchq/sdk/core/AppServiceTest.class
build/classes/test/io/dchq/sdk/core/BlueprintCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/BlueprintServiceTest.class
build/classes/test/io/dchq/sdk/core/BlueprintUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/BuildCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/BuildServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderFindServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/DataCenterCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/DataCenterFindServiceTest.class
build/classes/test/io/dchq/sdk/core/DataCenterServiceTest.class
build/classes/test/io/dchq/sdk/core/DataCenterUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerServiceTest.class
build/classes/test/io/dchq/sdk/core/MessageServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginEntitleServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/ProfileCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/ProfileServiceTest.class
build/classes/test/io/dchq/sdk/core/RegistryAccountServiceTest.class
build/classes/test/io/dchq/sdk/core/TestRunner.class
build/classes/test/io/dchq/sdk/core/UserGroupCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/UserGroupFindServiceTest.class
build/classes/test/io/dchq/sdk/core/UserGroupSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/UserGroupServiceTest.class
build/classes/test/io/dchq/sdk/core/UserGroupUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/UsersCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/UsersFindServiceTest.class
build/classes/test/io/dchq/sdk/core/UsersServiceTest.class
build/classes/test/io/dchq/sdk/core/UsersUpdateServiceTest.class
build/docs/javadoc/allclasses-frame.html
build/docs/javadoc/allclasses-noframe.html
build/docs/javadoc/constant-values.html
build/docs/javadoc/deprecated-list.html
build/docs/javadoc/help-doc.html
build/docs/javadoc/index-all.html
build/docs/javadoc/index.html
build/docs/javadoc/io/dchq/sdk/core/AppService.html
build/docs/javadoc/io/dchq/sdk/core/AppServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/BlueprintService.html
build/docs/javadoc/io/dchq/sdk/core/BuildService.html
build/docs/javadoc/io/dchq/sdk/core/BuildServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/CloudProviderService.html
build/docs/javadoc/io/dchq/sdk/core/CloudProviderServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/DataCenterService.html
build/docs/javadoc/io/dchq/sdk/core/DataCenterServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/DockerServerService.html
build/docs/javadoc/io/dchq/sdk/core/DockerServerServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/Main.html
build/docs/javadoc/io/dchq/sdk/core/MessageService.html
build/docs/javadoc/io/dchq/sdk/core/MessageServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/PluginService.html
build/docs/javadoc/io/dchq/sdk/core/PluginServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/ProfileService.html
build/docs/javadoc/io/dchq/sdk/core/ProfileServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/RegistryAccountService.html
build/docs/javadoc/io/dchq/sdk/core/RegistryAccountServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/ServiceFactory.html
build/docs/javadoc/io/dchq/sdk/core/SettingService.html
build/docs/javadoc/io/dchq/sdk/core/SettingServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/UserGroupService.html
build/docs/javadoc/io/dchq/sdk/core/UserGroupServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/UserService.html
build/docs/javadoc/io/dchq/sdk/core/UserServiceImpl.html
build/docs/javadoc/io/dchq/sdk/core/package-frame.html
build/docs/javadoc/io/dchq/sdk/core/package-summary.html
build/docs/javadoc/io/dchq/sdk/core/package-tree.html
build/docs/javadoc/overview-tree.html
build/docs/javadoc/package-list
build/docs/javadoc/script.js
build/docs/javadoc/stylesheet.css
build/libs/DCHQ-Java-SDK-3.0-SNAPSHOT-javadoc.jar
build/libs/DCHQ-Java-SDK-3.0-SNAPSHOT-sources.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458009628959.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458009628959.jar.original
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458009821646.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458009821646.jar.original
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458010394770.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458010394770.jar.original
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458069955992.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458069955992.jar.original
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458084753007.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458084753007.jar.original
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458087679631.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458087679631.jar.original
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458158242201.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1458158242201.jar.original
build/test-results/binary/test/output.bin
build/tmp/jar/MANIFEST.MF
build/tmp/javadoc/javadoc.options
build/tmp/javadocJar/MANIFEST.MF
build/tmp/sourcesJar/MANIFEST.MF
build/tmp/test/jar_extract_5077230151964572152_tmp
src/main/main.iml
src/test/test.iml
.gradle/2.3/taskArtifacts/cache.properties
build/classes/test/io/dchq/sdk/core/BlueprintFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/BlueprintFindServiceTest.class
build/classes/test/io/dchq/sdk/core/BlueprintSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderFindAllEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/CloudProviderSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/DataCenterEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/DataCenterSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerFindServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerTenantEntityServiceTest.class
build/classes/test/io/dchq/sdk/core/DockerServerTest.class
build/classes/test/io/dchq/sdk/core/DockerServerUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginFindServiceTest.class
build/classes/test/io/dchq/sdk/core/PluginSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/ProfileFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/ProfileFindServiceTest.class
build/classes/test/io/dchq/sdk/core/ProfileUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/UserGroupFindAllEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/UserGroupFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/UsersFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/UsersSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/blueprints/BlueprintCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/blueprints/BlueprintFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/blueprints/BlueprintFindServiceTest.class
build/classes/test/io/dchq/sdk/core/blueprints/BlueprintSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/blueprints/BlueprintServiceTest.class
build/classes/test/io/dchq/sdk/core/blueprints/BlueprintUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/builds/BuildCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/builds/BuildServiceTest.class
build/classes/test/io/dchq/sdk/core/clusters/DataCenterCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/clusters/DataCenterEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/clusters/DataCenterFindServiceTest.class
build/classes/test/io/dchq/sdk/core/clusters/DataCenterSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/clusters/DataCenterServiceTest.class
build/classes/test/io/dchq/sdk/core/clusters/DataCenterUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupFindAllEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupFindServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupServiceTest.class
build/classes/test/io/dchq/sdk/core/groups/UserGroupUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerFindServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerTenantEntityServiceTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerTest.class
build/classes/test/io/dchq/sdk/core/machines/DockerServerUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/messages/MessageServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginEntitleServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginFindServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginServiceTest.class
build/classes/test/io/dchq/sdk/core/plugins/PluginUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderFindAllEntitledServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderFindServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/CloudProviderUpdateServiceTest.class
build/classes/test/io/dchq/sdk/core/providers/RegistryAccountServiceTest.class
build/classes/test/io/dchq/sdk/core/users/UsersCreateServiceTest.class
build/classes/test/io/dchq/sdk/core/users/UsersFindAllServiceTest.class
build/classes/test/io/dchq/sdk/core/users/UsersFindServiceTest.class
build/classes/test/io/dchq/sdk/core/users/UsersSearchServiceTest.class
build/classes/test/io/dchq/sdk/core/users/UsersServiceTest.class
build/classes/test/io/dchq/sdk/core/users/UsersUpdateServiceTest.class
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1461390804615.jar
build/libs/DCHQ-SDK-3.0-SNAPSHOT-1461390804615.jar.original